@model MyNextMatch.Entities.Classes.UserAddress
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UserAddress</title>
</head>
<body>
    <form action="@Url.Action("UserAddress","Default", new { userId= Model.User.UserId })" method="post">
        Id : @Html.TextBoxFor(model => model.User.UserId)
        <br />
        name : @Html.TextBoxFor(model => model.User.Name)
        <br />
        surname:  @Html.TextBoxFor(model => model.User.Surname)
        <br />
        email:   @Html.TextBoxFor(model => model.User.Email)
        <br />
        <button type="submit">Gonder</button>
        <br />
        <br /><br />


        PostCode : @Html.TextBoxFor(model => model.Address.PostCode)
        <br />
        AddressLine:  @Html.TextBoxFor(model => model.Address.AddressLine)
        <br />
        OwnerType:   @Html.TextBoxFor(model => model.Address.OwnerType)
        <br />
        <button type="submit">Gonder</button>
        <br />
        <br /><br />

        @foreach (var error in Model.Errors)
        {
            <span style="color:red;">@error</span>
        }
        <br />
        <span style="color:green;">@Model.SuccessMessage</span>

    </form>

</body>
</html>
